@import url('./variables.css');

html,
body {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  /* user-select: none; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

  height: var(--base-app-height);
  width: var(--base-app-width);

  color: hsla(var(--color-text--normal), 100%);
  font-size: 100%;

  overflow: hidden;
}

a.__unset {
  color: var(--color--primary);
  text-decoration: unset;
}

a.__unset:active {
  filter: brightness(0.8);
}

button.__unset {
  border: unset;
  padding: unset;
  line-height: unset;
  background: unset;
}

button.__unset.action:active {
  filter: brightness(0.8);
}

input.__unset,
textarea.__unset {
  border: unset;
  padding: unset;
  margin: unset;
  background: unset;
  outline: unset;
}

p.__unset,
h1.__unset,
h2.__unset,
h3.__unset {
  margin: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
}

*.__center.-axis.-cross {
  align-items: center;
  justify-content: center;
  display: flex;
}

*.__center.-axis {
  align-items: center;
  display: flex;
}

*.__center.-cross {
  justify-content: center;
  display: flex;
}

*.__fill-h_w {
  height: 100%;
  width: 100%;
}

hr.--line {
  background-color: hsl(var(--line-color--normal));
  height: 1px;
  border: unset;
}
