@import url('./variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  user-select: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

  height: var(--base-app-height);
  width: var(--base-app-width);

  color: hsla(var(--text-color--normal), 100%);
  font-size: 100%;

  overflow: hidden;
}
