/* color */
:root {
  --color--primary: 103, 86%, 56%;
  --color--accent: 17, 86%, 56%;

  --color-background--normal: 0, 0%, 100%;

  --color-text--normal: 0, 0%, 20%;
  --color-text--light: 0, 0%, 40%;
  --color-text--lighter: 0, 0%, 60%;

  --color-border--normal: 0, 0%, 60%;

  --color-shadow--normal: 106, 26%, 60%;

  --line-color--normal: 0, 0%, 70%;
}

/* base */
:root {
  --base-size: 8px;
  --base-size-padding: calc(var(--base-size) * 2);

  --base-app-height: 100%;
  --base-app-width: 100%;
}

/* padding */
:root {
  --padding--normal: calc(var(--base-size) * 2);
  --padding--small: calc(var(--base-size) * 1);
}

:root {
  --radius--normal: calc(var(--base-size) * 2);
}

:root {
  --shadow--border: 0 0px 0px 1px;
  --shadow--low: 0 1px 2px 1px;
  --shadow--medium: 0 2px 4px 2px;
  --shadow--high: 0 3px 6px 3px;

  --shadow-colored--border: var(--shadow--border)
    hsla(var(--color-shadow--normal), 30%);

  --shadow-colored--low: var(--shadow--low)
    hsla(var(--color-shadow--normal), 30%);

  --shadow-colored--medium: var(--shadow-colored--low),
    var(--shadow--medium) hsla(var(--color-shadow--normal), 20%);

  --shadow-colored--high: var(--shadow-colored--medium),
    var(--shadow--high) hsla(var(--color-shadow--normal), 10%);
}

:root {
  --transition--normal: cubic-bezier(0.77, 0, 0.175, 1);
}

/* filter */
:root {
  --blur--normal: blur(calc(var(--base-size) / 4));
}

/* font */
:root {
  --font-size--huge: 150%;
  --font-size--very: 125%;
  --font-size--large: 112.5%;
  --font-size--normal: 100%;
  --font-size--medium: 87.5%;
  --font-size--small: 75%;
  --font-size--tiny: 62.5%;
}
